@import '../variables.css';
@import '../global.css';

.course-page {
  padding: 20px 20px 90px 20px; /* Добавляем отступ снизу */
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  text-align: left;
}

.lesson-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lesson {
  border: 1px solid #80808042;
  border-radius: 5px;
  padding: 15px;
  font-size: 13px;
  background: linear-gradient(135deg, #1e1e1e, #d4af3700);
  color: var(--text-color);
  text-decoration: none;
}

.lesson.completed {
  border-color: #4CAF50;
  background: linear-gradient(135deg, #4caf507d, #4caf5000);
}

.lesson.completed a {
  color: #4CAF50;
}

.lesson.locked {
    background: linear-gradient(135deg, #1e1e1e, #0000);
    color: #ffffff59;
}

.back-button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
}
