@import '../variables.css';
@import '../global.css';

.exchanges {
  padding: 20px 20px 80px 20px;
}

.exchange-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exchange-item {
  display: flex;
  align-items: center;
  background-color: var(--button-background-color);
  border: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
}

.exchange-item:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

.exchange-image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-right: 20px;
}

.exchange-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.exchange-content h2 {
  margin: 0;
  font-size: 18px;
}

.exchange-content p {
  margin: 5px 0 0;
  font-size: 14px;
  color: var(--text-color-muted);
}
