@import '../variables.css';
@import '../global.css';

.glossary-page {
}

.glossary-content {
}

.glossary-content p,
.glossary-content span {
  color: var(--text-color-muted);
}

.term {
  display: inline-block;
  width: 45%;
  margin: 2.5%;
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: left;
}

.term:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

.search-input {
  display: block;
  width: calc(100% - 40px); /* Adjust width to fit container padding */
  padding: 10px;
  margin: 20px auto;
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: 1px solid gray;
  border-radius: 5px;
}
