@import '../variables.css';
@import '../global.css';

.glossary {
  padding: 20px 20px 80px 20px;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.alphabet button {
  margin: 2px;
  padding: 5px 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.alphabet button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}

.terms {
  max-height: 60vh;
  overflow-y: auto;
}

.letter-divider {
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--button-background-color);
  color: var(--text-color);
}

.term-list {
  margin-bottom: 20px;
}

.glossary-term {
  margin: 10px 0;
}

.glossary-term a {
  text-decoration: none;
  color: var(--text-color);
}

.glossary-term a:hover {
  color: var(--button-hover-background-color);
}

.search-input {
  display: block;
  width: calc(100% - 40px); /* Adjust width to fit container padding */
  padding: 10px;
  margin: 20px auto;
  background-color: var(--button-background-color);
  color: var(--text-color);
  border: 1px solid gray;
  border-radius: 5px;
}
