@import '../variables.css';
@import '../global.css';

.home {
  padding: 20px 20px 80px 20px;
  text-align: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.home-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  width: 45%;
  justify-content: center;
}

.home-button .icon {
  margin-right: 10px; /* Отступ между иконкой и текстом */
  font-size: 20px;
}

.home-button.youtube {
  background-color: #FF0000; /* Красный цвет ютуба */
  color: #ffffff; /* Белый цвет текста */
}

.home-button.telegram {
  background-color: #0088cc; /* Голубой цвет телеграма */
  color: #ffffff; /* Белый цвет текста */
}

.ad-block {
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
}
