@import '../variables.css';
@import '../global.css';

.home {
  padding: 20px 20px 80px 20px;
  text-align: center;
}

.home-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--text-color-muted);
  font-weight: 300; /* Тонкий шрифт */
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.home-button {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  width: 45%;
  justify-content: center;
  border: none; /* Убираем обводку */
}

.home-button .icon {
  margin-right: 10px; /* Отступ между иконкой и текстом */
  font-size: 20px;
}

.home-button.youtube {
  background-color: #FF0000; /* Красный цвет ютуба */
  color: #ffffff; /* Белый цвет текста */
  margin-left: 0; /* Добавить margin-left */
}

.home-button.telegram {
  background-color: #0088cc; /* Голубой цвет телеграма */
  color: #ffffff; /* Белый цвет текста */
  margin-right: 0; /* Добавить margin-right */
}

.latest-video {
  margin-top: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 20px 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ad-block {
  margin-top: 20px;
  padding: 10px;
  border: 1px dashed var(--text-color);
  border-radius: 5px;
  color: var(--text-color);
}
