@import '../variables.css';
@import '../global.css';

.learning {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-button {
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid gray;
}

.course-button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
}
