/* src/components/Learning.css */
.learning {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px; /* Оставляем место для меню */
    overflow-y: auto;
  }
  