.lesson-page {
  padding: 20px 20px 80px 20px;
  font-family: 'Montserrat', sans-serif;
  color: #ececec; /* Новый цвет текста */
  text-align: left;
}

.lesson-content {
  margin-bottom: 20px;
}

.lesson-content p,
.lesson-content span {
  color: rgb(255 255 255 / 75%);
}

.test-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ececec;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

.test-button:hover {
  background-color: #f0c674;
  color: black;
}

/* Добавляем стили для кнопок "Назад" */
.back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #1e1e1e;
  color: #ececec;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #f0c674;
  color: black;
}
