.lesson {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  
  .test-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: white;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
  }
  
  .test-button:hover {
    background-color: #d4af37;
    color: black;
  }
  