@import '../variables.css';
@import '../global.css';

.trading {
  padding: 20px 20px 80px 20px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--button-background-color);
  border-radius: 10px; /* Закругленные углы */
  text-decoration: none;
  color: var(--text-color);
  padding: 0; /* Убираем отступы */
  overflow: hidden; /* Скрываем излишки */
  position: relative;
  text-align: left;
}

.section-button:hover {
  background-color: #9c95950f;
  color: var(--button-hover-text-color);
}

.section-image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section-image-wrapper::before {
  position: absolute;
  top: -50%;
  left: -25%;
  width: 150%;
  height: 150%;
  content: "";
  background: radial-gradient(transparent, rgba(26, 24, 31, .5) 40%, #1e1e1e 70%);
  transition: background .15s ease-in-out;
}

.section-image {
  width: 100%;
  height: auto;
  display: block; /* Изображение сверху без отступов */
}

.section-text {
  padding: 15px; /* Отступы для текста */
  text-align: left;
  width: 100%;
}

.section-text h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.section-text p {
  margin: 0;
  font-size: 14px;
  color: var(--text-color-muted);
}
