body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #121212; /* Темный фон */
  color: white;
  overflow: hidden; /* Предотвращаем прокрутку за пределы */
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow-y: auto; /* Позволяет прокручивать только контент */
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Меню всегда наверху */
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray; /* Серый цвет для неактивных вкладок */
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.menu-item.active {
  color: #d4af37; /* Премиум-золотой для активной вкладки */
}

.menu-item span {
  margin-top: 5px;
  font-size: 12px;
}

.menu-item:hover {
  color: #f0c674;
}
